<h1>
  {{title}}
</h1>

<h3>Penggunaan Template-driven Forms : </h3>
<h5>Data Mahasiswa : </h5>
<form novalidate (ngSubmit)="onSubmit()">
  <label>
    <span>Nama Mahasiswa</span>
    <input
      type="text"
      [(ngModel)]="mahasiswa.nama_mhs"
      [ngModelOptions]="{standalone: true}"
      placeholder="Nama Mahasiswa">
  </label>
  <div>
    <label>
      <span>Fakultas</span>
      <input
        type="text"
        [(ngModel)]="mahasiswa.pendidikan.nama_fakultas"
        [ngModelOptions]="{standalone: true}"
        placeholder="Fakultas">
    </label>
    <label>
      <span>Program Studi</span>
      <input
        type="text"
        [(ngModel)]="mahasiswa.pendidikan.nama_prodi"
        [ngModelOptions]="{standalone: true}"
        placeholder="Program Studi">
    </label>
  </div>
  <button type="submit">Tambah Data</button>
</form>